@use './base' as *;
@include reset;

$font-stack: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include font-styles(1rem, bold, $primary);
    font-family: $font-stack;
}